/* All style css goes here */

body {
	overflow-x: hidden;
	background-color: #fff;
}
.default-height {
	min-height: 580px;
	max-height: 580px;
	height: 580px;
	//background-color: #ccc;
	//border: 1px solid #000;
}

.tst {
	border: 1px solid #000;
	height: 134.4px;
}

.tst-arrival {
	border: 1px solid #000;
	height: 181.2px;

}

.tab-content {
	margin-top: 50px;
}

.padding-bottom {
	margin-bottom: 5px !important;
}

#plane1, #plane2 {
	margin-top: 15%;
	width: 500px;
	height: 580px;

}

#conveyor-belt {
	padding-top: 10px !important;
	margin-left: -25px !important;
	border: 0px;
	height: 300px !important;
}



